@charset "UTF-8";

/* 
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
*/

:root {
  --clr-white: #ffffff;
  --clr-black: #28262c;
  
  /* Azuis */
  --clr1: #DEEFE7;
  --clr2: #B4BEC9;
  --clr3: #159A9C;
  --clr4: #002333;

  /* Verdes */
  --clr5: #8FC1B5;
  --clr6: #589A8D;
  --clr7: #007566;
  --clr8: #146551;
  --clr9: #265C4B;

  /* Variáveis*/
  --nav_height: 1.25rem; /* Altura dos elementos e texto da barra de navegacao*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
}

nav{
  position: fixed;
  display: flex;
  height:calc(var(--nav_height) * 4);
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--clr-black);
  padding: 0 10%;
}

.nav_start{
  height: var(--nav_height);
}

.nav_end{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: var(--nav_height);
}
.nav_end li{
  padding-left: calc(var(--nav_height) * 3);
}

.nav_end li a, .nav_start a{
  color: var(--clr-white);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: var(--nav_height);
}

.img_fundo1{
  max-width: 100%;
  height: auto;
  margin: 0;
}

.index-grid{
  display: grid;
  gap: 3rem;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  justify-items: center;
  align-items: center;
  text-align: justify;
  
}
.img-products-grid{
  grid-area: one;
  object-fit: contain;
}

.products-container-grid{
  grid-area: two ;
}

.img-updates-grid{
  grid-area: three;
}

.updates-container-grid{
  grid-area: four ;
}

@media (min-width: 850px){
  .index-grid{
    grid-template-areas: 
    'one two two'
    'four four three';
  }
}


