@charset "UTF-8";

/* 
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
*/

:root {
  --clr-white: #ffffff;
  --clr-black: #28262c;
  
  /* Azuis */
  --clr1: #DEEFE7;
  --clr2: #B4BEC9;
  --clr3: #159A9C;
  --clr4: rgb(0, 35, 51);

  /* Verdes */
  --clr5: #8FC1B5;
  --clr6: #589A8D;
  --clr7: #007566;
  --clr8: #146551;
  --clr9: #265C4B;

  /* Variáveis*/
  --nav_height: 1.25rem; /* Altura dos elementos e texto da barra de navegacao*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Saira Condensed", sans-serif;
  scroll-behavior: smooth;
}


body{
  overflow-x:hidden;
  background-color: var(--clr1);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
					clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.navbar-header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  position: fixed;
  top:0;
  width: 100vw;
  z-index: 999;
  padding: 2vh 5vw;
  background-color: rgba(0, 35, 51, 0.6);
  backdrop-filter: blur(3px);
}


.mobile-nav-toggle{
  display: none;
}

.navbar-nav{
  list-style: none;
  display: flex;
  gap: 3em;
}

.navbar-link, .company-name{
  text-decoration: none;
  color: var(--clr2);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
}

.slogan{
  width: 100vw;
  height: 60vh;
  background-image: url(img/header_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  z-index: 1;
}

.slogan > p{
  color: var(--clr-white);
  font-size: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: inherit;
  background-image: linear-gradient(to right,rgba(0, 35, 51,1) 45%,rgba(0,0,0,0) 75%);
  z-index: inherit;
  padding: 15vh 0 0 8vw;
  font-weight: 700;
  line-height: 8rem;
  text-transform: uppercase;
}

.slogan-highlight{
  color: #159A9C;
  font-size: inherit;
  font-weight: inherit;
}

.about-container{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
  text-align: justify;
  padding: 100px 20vw 0 20vw;
  height: auto;
}

.product{
  max-width: 40%;
  height: auto;
}

.section-title{
  font-size: 2.5rem;
  padding-left: 1rem;
  margin: 20px 0;
  border-left: 0.5rem solid;
  border-color: var(--clr4);
  text-transform: uppercase;
  color: var(--clr4);
}

.updates-container{
  padding: 100px 20vw 0 20vw;
}

.update-date{
  font-size: 2rem;
  color: var(--clr3);
  padding-top: 50px;
}

.update-text, .about-text{
  font-size: 1.3rem;
  color: var(--clr3);
  text-align: justify;
}

.team-container{
  padding: 100px 20vw 0 20vw;
  display: flex;
  flex-flow: column;
}


.team-grid{
  display: grid;
  gap:3rem;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'one two three'
  'four five six';
  justify-items: center;
  text-align: center;

}

.member-link{
  text-decoration: none;
}

.member-image{
  max-width: 60%;
  border-radius: 50%;
}

.member-name{
  color: var(--clr3);
  font-size: 2rem;
  font-weight: 600;
}

footer{
  height: 25vh;
  background-color: var(--clr4);
  margin-top: 100px;
}

@media (max-width: 850px){
  .navbar-nav{
    z-index: 100;
    gap: 1.5em;

    position: fixed;
    inset: 0 0 0 60%;

    flex-direction: column;
    text-align: left;
    padding: min(20vh,6rem) min(10vw, 3rem); /* presa no topo*/
    background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(.1rem);
    
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .navbar-nav[data-visible= "true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    background-image: url("img/menu-open.png");
    background-size: contain;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url("img/menu-close.png");
  }

  .navbar-link{
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 700;
  }

  .navbar-header{
    backdrop-filter: none;
  }

  .team-grid{
    grid-template-areas: 
    'one two'
    'three four'
    'five six'
    ;
    gap: 1rem;
  }

  .about-container{
    flex-direction: column;
  }
  
  .product{
    max-width: 100%;
  }
}

