@charset "UTF-8";

/* 
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
*/

:root {
  --clr-white: #ffffff;
  --clr-black: #28262c;
  
  /* Azuis */
  --clr1: #DEEFE7;
  --clr2: #B4BEC9;
  --clr3: #159A9C;
  --clr4: #002333;

  /* Verdes */
  --clr5: #8FC1B5;
  --clr6: #589A8D;
  --clr7: #007566;
  --clr8: #146551;
  --clr9: #265C4B;

  /* Variáveis*/
  --nav_height: 1.25rem; /* Altura dos elementos e texto da barra de navegacao*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Quicksand", Helvetica, sans-serif;
}

body{
  overflow-x:hidden;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
					clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.logo{
  margin: 2rem;
}

.navbar-header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  position: fixed;
  width: 100vw;
  
}

.mobile-nav-toggle{
  display: none;
}

.navbar-nav{
  list-style: none;
  display: flex;
  gap: 3em;
}

.navbar-link, .logo{
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.5rem;
}

.img_fundo1{
  max-width: 100%;
  height: auto;
  margin: 0;
}

.index-grid{
  display: grid;
  gap: 3em;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four';
  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
  justify-items: center;
  align-items: center;
  text-align: justify;
  
}
.img-products-grid{
  grid-area: one;
  object-fit: contain;
}

.products-container-grid{
  grid-area: two ;
}

.img-updates-grid{
  grid-area: three;
}

.updates-container-grid{
  grid-area: four ;
}

.index-grid-title{
  font-size: 1.5rem;
}

@media (min-width: 850px){
  .index-grid{
    grid-template-areas: 
    'one two two'
    'four four three';
  }

  .navbar-nav{
    margin-inline-end: 5vw;
  }

}

@media (max-width: 850px){
  .navbar-nav{
    z-index: 100;
    gap: 1.5em;

    position: fixed;
    inset: 0 0 0 60%;

    flex-direction: column;
    text-align: left;
    padding: min(30vh, 10rem) 2em;
  
    background: hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(.1rem);
    
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .navbar-nav[data-visible= "true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    background-image: url("img/menu-open.png");
    background-size: contain;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url("img/menu-close.png");
  }

  .navbar-link{
    color: var(--clr-black);
    font-size: 1rem;
    font-weight: 700;
  }

}

