@charset "UTF-8";

/* 
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
*/

:root {
  --clr-white: #ffffff;
  --clr-black: #28262c;
  
  /* Azuis */
  --clr1: #DEEFE7;
  --clr2: #B4BEC9;
  --clr3: #159A9C;
  --clr4: #002333;

  /* Verdes */
  --clr5: #8FC1B5;
  --clr6: #589A8D;
  --clr7: #007566;
  --clr8: #146551;
  --clr9: #265C4B;

  /* Variáveis*/
  --nav_height: 1.25rem; /* Altura dos elementos e texto da barra de navegacao*/
  --footerh: 15vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Saira Condensed", sans-serif;
  scroll-behavior: smooth;
}

body{
  overflow-x:hidden;
  background-color: var(--clr1);
}

main{
  min-height: calc(100vh - var(--footerh));
}

footer{
  display: flex;
  height: var(--footerh);
  width: 100%;
  background-color: var(--clr4);
}

.footer-fixed{
  position: fixed;
  bottom: 0;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
					clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.navbar-header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;
  padding: 0.75rem 5%;
  background-color: rgba(0, 35, 51, 0.6);
  backdrop-filter: blur(3px);
}


.mobile-nav-toggle{
  display: none;
}

.navbar-nav{
  list-style: none;
  display: flex;
}

.navbar-link, .company-name{
  text-decoration: none;
  color: var(--clr2);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 2rem;
}

.home-container{
  position: relative;
  height: 50vh;
}

.home-img{
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  object-fit: cover;
  object-position: 75% 25%;
}


.slogan-background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right,rgba(0, 35, 51,1) 50%,rgba(0,0,0,0) 75%);
  align-items: center;
}

.slogan{
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 35%;
  transform: translate(0,-50%);
  color: var(--clr-white);
  font-size: clamp(2.5rem,6vw,6rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

.slogan-highlight{
  font-size: inherit;
  font-weight: inherit;
  color: var(--clr3);
}

.section-container{
  margin: 0 20%;  
  padding-top: 75px;

  &:last-child{
    padding-bottom: 75px;
  }
}
 
.about-wrapper{
  display: flex;
  position: relative; 
  align-items: center;
  gap: 30px;
  text-align: justify;
}

.product{
  width: 20%; 
}

.button{
  display: flex;
  color: var(--clr1);
  text-decoration: none;
  width: 20ch;
  margin: 10px auto;
  background-color: var(--clr3);
  align-items: center;
  justify-content: center;
  padding: 1ch;
  border-radius: 2.5ch;
  height: 5ch;
  font-weight: 600;
  font-size: 1.2rem;
}

.button:hover{
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr4);
  transition: all 1s ease;  
}

.section-title{
  font-size: 2.5rem;
  padding-left: 1rem;
  border-left: 0.5rem solid;
  border-color: var(--clr4);
  text-transform: uppercase;
  color: var(--clr4);
}

.project-proposal{
  margin: 30px 0;
  width:100%;
  aspect-ratio: 16/9;
}

.update-calendar{
  display: grid;
  margin: 20px 0;
  grid-template-columns: repeat(auto-fit, 15ch); 
  list-style: none;
  background-color: var(--clr1);
  gap: 1ch;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.date-calendar{
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  background-color: var(--clr3);
  color: var(--clr1);
  font-size: 1.5rem;
  text-decoration: none;
  width: 10ch;
  aspect-ratio: 1;
}

.styled-paragraph{
  font-size: 1.3rem;
  color: var(--clr4);
  text-align: justify;
  padding: 10px 0;   
}

.team-grid{
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-areas: 
  'one two three'
  'four five six';
  justify-items: center;
  text-align: center;
}

.member-link{
  width: 100%;
  text-decoration: none;
  padding: 20px 0;
}

.darken:hover{    
  transform: translateY(5px);
  transition: 0.7s;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25); 
} 

.member-image{  
  width: 50%;
  border-radius: 50%;
}

.member-name{
  color: var(--clr3);
  font-size: 2rem;
  font-weight: 600;
}

.update-container{
  margin: 0 20%;  
  padding-top: 75px;
  min-height: 40vh;

  &:first-child {
    margin-top: 1px;
  }
  &:last-child{
    min-height: 100vh;
    padding-bottom: var(--footerh);
  }
}

.footer-container{
  margin: 2% 10%;
}


@media (max-width: 850px){
  
  .navbar-nav{
    z-index: 100;
    gap: 1.5em;

    position: fixed;
    inset: 0 0 0 55%;

    flex-direction: column;
    text-align: left;
    padding: min(20%,6rem) 5%; /* presa no topo*/
    background:  rgba(0, 35, 51, 0.4);
    backdrop-filter: blur(.1rem);
    
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .navbar-nav[data-visible= "true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    background-image: url("/images/menu-open.png");
    background-size: contain;
    width: 1.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url("/images/menu-close.png");
  }

  .navbar-link{
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar-header{
    backdrop-filter: none;
  }

  .team-grid{
    grid-template-areas: 
    'one two'
    'three four'
    'five six'
    ;
  }

  .about-wrapper{
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .product{ 
    width: 80%;
  }
} 