@charset "UTF-8";

:root {
  --clr-white: #fff;
  --clr-black: #28262c;
  --clr1: #DEEFE7;
  --clr2: #B4BEC9;
  --clr3: #159A9C;
  --clr4: #002333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
  scroll-behavior: smooth;
}

main {
    min-height:calc(100vh - 18rem);
    background-color: var(--clr1);
}

footer {
  	position: relative;
  	bottom: 0;
  	display: flex;
  	width: 100%;
  	background-color: var(--clr4);
	min-height:18rem;
}

h1{
	position: absolute;
	max-width: 11ch;
	font-size: clamp(3rem,6vw, 8rem);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 100%;
	margin-left: calc(5vw + 1.5rem);
	background: linear-gradient(to bottom,var(--clr-white) 50%, var(--clr3) 50%);
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	z-index: 1;
}

h2{
	font-size: 2.5rem;
	padding-left: 1rem;
	border-left: 0.5rem solid;
	border-color: var(--clr4);
	text-transform: uppercase;
	color: var(--clr4);
	text-align: left;
}

a {
  	text-decoration: none;
  	color: inherit;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.navbar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: rgba(0, 35, 51, 0.6);
	backdrop-filter: blur(3px);
	height: 10ch;
	padding: 0 5vw;
}

.mobile-nav-toggle {
  display: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-link {
  color: var(--clr2);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 1.5rem;
}

.darken:hover {
	transform: translateY(5px);
	transition: 0.7s;
	box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.footer-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	min-height: var(--footerh);
	margin: 25px 10%;
	gap: 50px 200px;
}

.apps {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.apps-dev {
	margin: 0.8rem 0;
	font-size: 1.5rem;
	color: var(--clr2);
	font-weight: 700;
}

.apps-wrapper {
	display: flex;
	gap: 10%;
	align-items: center;
}

.footer-slogan{
	font-size: 2rem;
	line-height: 100%;
	background: linear-gradient(to bottom,var(--clr-white) 50%, var(--clr3) 50%);
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	width: 11ch;
}

.footer-links {
	font-size: 1.5rem;
  	color: var(--clr-white);
}

.footer-links a{
	font-size: 1rem;
}	

.footer-logo {
	width: 100px;
	height: auto;
	display: block;
}

.mobile-stores {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2rem 1rem;
	inline-size: 100%;
	justify-content: center;
}

.store-link img {
  	width: 100%;
}

.home-container {
	display: flex;
	position: relative;
	height: 50vh;
	align-items: center;
}

.home-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--clr4) 50%, rgba(0, 0, 0, 0) 75%);
}

.home-img {
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	object-fit: cover;
	object-position: 70% 50%;
}

.section-container {
	margin: 0 20%;
	padding-top: 15ch;
}

.section-container:last-child{
	padding-bottom: 15ch ;
}

.about-wrapper {
	display: flex;
	align-items: center;
	gap: 5%;
}

.about-wrapper div{
	flex-grow: 1;
}

.about-wrapper img{
	min-width: 45%;	
	max-width: 100%;
}
#benefits {
    margin: 0 20%;
    padding-top: 15ch;
}
#benefits h2 {
    font-size: 2.5rem;
    padding-left: 1rem;
    border-left: 0.5rem solid;
    border-color: var(--clr4);
    text-transform: uppercase;
    color: var(--clr4);
    text-align: left;
}
#benefits ol {
    list-style: none;
    counter-reset: benefit-counter;
}
#benefits li {
    counter-increment: benefit-counter;
    margin-top: 2rem;
}


#benefits {
    margin: 0 20%;
    padding-top: 15ch;
}

#benefits h2 {
    font-size: 2.5rem;
    padding-left: 1rem;
    border-left: 0.5rem solid;
    border-color: var(--clr4);
    text-transform: uppercase;
    color: var(--clr4);
    text-align: left;
}

#benefits ol {
    list-style: none;
    counter-reset: benefit-counter;
}

#benefits li {
    counter-increment: benefit-counter;
    margin-top: 2rem;
}

#benefits h3 {
    font-size: 2rem;
    color: var(--clr4);
    margin-top: 1rem;
}
#benefits ul {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#benefits ul li {
    font-size: 1.3rem;
    color: var(--clr4);
    padding-left: 1rem;
}

#benefits ul ul {
    margin-top: 0.5rem;
}

#benefits ul ul li {
    padding-left: 2rem;
}

@media (max-width: 650px) {
    #benefits {
        margin: 0 10%;
    }
}

#history {
    margin: 0 20%;
    padding-top: 15ch;
}

#history h2 {
    font-size: 2.5rem;
    padding-left: 1rem;
    border-left: 0.5rem solid;
    border-color: var(--clr4);
    text-transform: uppercase;
    color: var(--clr4);
    text-align: left;
}

#history p {
    font-size: 1.3rem; /* Ajuste o tamanho da fonte conforme necessário */
    color: var(--clr4);
    text-align: justify;
    padding: 10px 0;
    min-width: 80%;
}

/* Estilos para o conteúdo da ideia dentro da história */
.idea-content {
	font-size: 1.3rem;
	color: var(--clr4);
	text-align: justify;
	padding: 10px 0;
  }
  
  /* Estilos para os grupos de equipe */
  .team-group {
	margin-top: 2rem;
	text-align: center; /* Centralizando as equipes */
  }
  
  .team-group h3 {
	font-size: 1.8rem; /* Reduzindo o tamanho do título da equipe */
	color: var(--clr4);
	text-transform: uppercase;
	margin-bottom: 0.5rem; /* Espaçamento inferior reduzido */
  }
  
  .team-group ul {
	list-style: none;
	padding-left: 0; /* Removendo o preenchimento à esquerda */
  }
  
  .team-group ul li {
	font-size: 1.2rem; /* Reduzindo o tamanho do texto da equipe */
	color: var(--clr4);
	margin-top: 0.5rem;
	font-family: "Saira Condensed", sans-serif; /* Mantendo a mesma fonte */
  }
  
  .prototype-images {
	display: flex;
	justify-content: center; /* Centralizar as imagens horizontalmente */
	align-items: flex-start; /* Alinhar as imagens ao topo */
	margin-top: 1rem;
	gap: 2rem; /* Espaçamento entre as figuras */
  }
  
  .prototype-images figure {
	text-align: center; /* Centralizar o conteúdo dentro do contêiner */
	margin: 0; /* Remover margem padrão */
  }
  
  .prototype-images img {
	height: 200px; /* Definindo a mesma altura para todas as imagens */
	width: auto; /* Mantendo a proporção da imagem */
	display: block;
	margin: 0 auto; /* Centralizar a imagem dentro da figura */
  }
  
  .prototype-images figcaption {
	font-size: 1rem;
	color: var(--clr4);
	text-align: center;
	margin-top: 0.5rem;
  }
  h4 {
	font-size: 1.6rem; /* Menor que o título das equipes */
	color: var(--clr4); /* Cor consistente com o resto do site */
	margin-top: 1rem;
  }
.button {
	display: flex;
	color: var(--clr1);
	width: 20ch;
	margin: 10px auto;
	background-color: var(--clr4);
	align-items: center;
	justify-content: center;
	padding: 1ch;
	border-radius: 2.5ch;
	height: 5ch;
	font-weight: 600;
	font-size: 1.2rem;
}

.button:hover {
	cursor: pointer;
	color: var(--clr-white);
	background-color: var(--clr4);
	transition: all 1s ease;
}

.project-proposal {
	margin: 30px 0;
	width: 100%;
	aspect-ratio: 16/9;
}

#update-calendar {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0; 
	background-color: var(--clr1);
	gap: 1ch;
	justify-content: center;
}

.date-calendar {
	display: flex;
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: var(--clr4);
	color: var(--clr1);
	width: 10ch;
	aspect-ratio: 1;
}

.styled-paragraph {
	font-size: 1.3rem;
	color: var(--clr4);
	text-align: justify;
	padding: 10px 0;
	min-width: 80%;
}

.team-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	justify-content: center;
	align-items: center;
}

.member-link {
	padding: 20px 0;
}

.member-img {
	width: 50%;
	border-radius: 50%;
}

.member-name {
	color: var(--clr4);
	font-size: 2rem;
	font-weight: 600;
}

.update-container {
	margin: 0 20%;
	padding-top: 15ch;
	min-height: 40vh;
	opacity: 0;
	text-align: center;

}

.update-container:first-child {
  	opacity: 1;
}

.update-container:last-child {
  	min-height: 70vh;
	padding-bottom: 15ch;
}

.update-container img{
	max-width: 100%;
}

.update-images-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	gap: 20px;
	margin: 20px 0;
}

.update-images-container img{
	max-height: 40vh;
	max-width: 100%;
}

.update-images-container figure{
	min-width: 20%;
}

.update-images-container figcaption{
	font-style: italic;
	color: var(--clr4);
	font-weight: 500;
}

.ist-logo{
	display: flex;
	min-width: 60px;
	max-width: 60%;
}


.form {
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding-top: 15ch;
	border: none;
	min-height: 100vh;
}

@media (max-width: 950px){

	.team-grid{
		grid-template-columns: repeat(2, 1fr);	
	}
}

@media (max-width: 850px) {

	.navbar-nav {
		z-index: 100;
		gap: 1.5em;
		position: fixed;
		inset: 0 0 0 55%;
		flex-direction: column;
		text-align: left;
		padding: min(20%, 6rem) 5%;
		background: rgba(0, 35, 51, 0.4);
		backdrop-filter: blur(0.1rem);
		transform: translateX(100%);
		transition: transform 250ms ease-out;
	}

	.navbar-nav[data-visible="true"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 999;
		background-color: transparent;
		background-image: url("../images/menu-open.png");
		background-size: contain;
		width: 1.5rem;
		border: 0;
		aspect-ratio: 1;
		right: 1rem;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url("../images/menu-close.png");
	}

	.navbar-header {
		backdrop-filter: none;
	}

	.about-wrapper {
		flex-direction: column;
	}
}

@media (max-width: 650px){

	.team-grid{
		grid-template-columns: repeat(1, 1fr);	
	}
}



